!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Omaha Maker Groups Webcams
      #content
        %img.cam_view(src="http://www.fusselman.org/webcam.pl?camera=4")
      #side_bar
        %h1 Cam Previews
        %p
          %img.cam_preview(src="http://www.fusselman.org/webcam.pl?camera=4")
          %img.cam_preview(src="http://www.fusselman.org/webcam.pl?camera=5")
          %img.cam_preview(src="http://www.fusselman.org/webcam.pl?camera=9")
          %img.cam_preview(src="http://www.fusselman.org/webcam.pl?camera=10")
          %img.cam_preview(src="http://www.fusselman.org/webcam.pl?camera=11")
      #footer
        %p
          This is the footer.
          
    :javascript
      $(function() {
        $("#tabs").tabs();
      });